<robot name="bunker_laser_3d"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="bunker.xacro" />
  <xacro:include filename="laser.xacro" />
  <xacro:include filename="laser_3d_driver.xacro" />
  <xacro:include filename="imu.xacro" />
  <xacro:include filename="imu_driver.xacro" />
  <xacro:include filename="imu_pose_gt.xacro" />
  <xacro:include filename="move.xacro" />
</robot>
