<launch>
  <arg name="start_gazebo" default="true"/>
  <arg name="start_fastlio" default="true"/>
  <arg name="start_control" default="true"/>
  <arg name="rviz" default="false"/>
  <arg name="trajectory_rviz" default="true"/>

  <arg name="distance" default="50.0"/>
  <arg name="speed" default="0.8"/>
  <arg name="odom_topic" default="/Odometry"/>

  <include if="$(arg start_gazebo)"
           file="$(find diff_tracked_gazebo)/launch/bunker_gazebo_sim.launch">
    <arg name="rviz" value="false"/>
  </include>

  <include if="$(arg start_fastlio)"
           file="$(find fast_lio)/launch/mapping_velodyne.launch">
    <arg name="rviz" value="$(arg rviz)"/>
  </include>

  <group if="$(arg start_fastlio)">
    <param name="/preprocess/timestamp_unit" value="0"/>
    <param name="/preprocess/blind" value="0.5"/>
    <param name="/point_filter_num" value="2"/>
    <rosparam param="/mapping/extrinsic_T">[0.0, 0.0, -0.025]</rosparam>
    <rosparam param="/mapping/extrinsic_R">[1.0, 0.0, 0.0,
                                             0.0, 1.0, 0.0,
                                             0.0, 0.0, 1.0]</rosparam>
  </group>

  <node if="$(arg trajectory_rviz)"
        pkg="rviz"
        type="rviz"
        name="trajectory_rviz"
        args="-d $(find diff_tracked_gazebo)/rviz/display.rviz"
        output="screen">
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
  </node>

  <node pkg="tf2_ros"
      type="static_transform_publisher"
      name="body_to_base_link"
      args="0 0 -0.05 0 0 0 body base_link"/>

  <include if="$(arg start_control)"
           file="$(find diff_tracked_control)/launch/straight_line_control.launch">
    <arg name="distance" value="$(arg distance)"/>
    <arg name="speed" value="$(arg speed)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
  </include>
</launch>
