<launch>
  <arg name="distance" default="5.0"/>
  <arg name="speed" default="0.5"/>
  <arg name="odom_topic" default="/Odometry"/>

  <node pkg="diff_tracked_control"
        type="straight_line_controller.py"
        name="straight_line_controller"
        output="screen">
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="cmd_vel_topic" value="/cmd_vel"/>
    <param name="target_distance" value="$(arg distance)"/>
    <param name="cruise_speed" value="$(arg speed)"/>
    <param name="distance_kp" value="1.0"/>
    <param name="distance_ki" value="0.0"/>
    <param name="distance_kd" value="0.05"/>
    <param name="steering_kp" value="2.5"/>
    <param name="steering_ki" value="0.0"/>
    <param name="steering_kd" value="0.15"/>
    <param name="lookahead_distance" value="0.5"/>
    <param name="max_angular_speed" value="1.0"/>
    <param name="distance_tolerance" value="0.03"/>
    <param name="control_rate" value="20.0"/>
  </node>
</launch>
